<nav>
  <a href="/"><img src="/{{assets}}/json_pig.svg" alt="JSON pig"></a>
  <h1><a href="/">Fortune.js</a></h1>
  <ul>
    <li>
      <a href="/" {{#if about}} class="current"{{/if}}>
        <span>About</span>
        <i class="icon-home"></i>
      </a>
    </li>
    <li>
      <a href="/guide/" {{#if guide}} class="current"{{/if}}>
        <span>Guide</span>
        <i class="icon-book"></i>
      </a>
    </li>
    <li>
      <a href="/docs/" {{#if documentation}} class="current"{{/if}}>
        <span>Docs</span>
        <i class="icon-code"></i>
      </a>
    </li>
    <li>
      <a href="//github.com/daliwali/fortune/tree/master/examples">
        <span>Examples</span>
        <i class="icon-folder-open"></i>
      </a>
    </li>
    <li>
      <a href="//github.com/daliwali/fortune/issues/">
        <span>Issues</span>
        <i class="icon-comments"></i>
      </a>
    </li>
  </ul>
  <h3>Fortune</h3>
  <ul class="module">
  {{#each fortune}}
    {{#unless ignore}}
      {{#unless isPrivate}}
        <li>- <a href="/docs/#{{ctx.name}}">{{ctx.name}}</a></li>
      {{/unless}}
    {{/unless}}
  {{/each}}
  </ul>
  <hr>
  <h3>Adapter</h3>
  <ul class="module">
  {{#each adapter}}
    {{#unless ignore}}
      {{#unless isPrivate}}
        <li>- <a href="/docs/#{{ctx.name}}">{{ctx.name}}</a></li>
      {{/unless}}
    {{/unless}}
  {{/each}}
  </ul>
  <hr>
  <p class="bottom">
    <a href="//github.com/daliwali/fortune">
      <span>Fortune.js repo</span>
      <i class="icon-github"></i>
    </a>
  </p>
</nav>
