{{#unless ignore}}
  {{#unless isPrivate}}
    <a id="{{ctx.name}}"></a>
    <hr>
    <h4>
      {{ctx.constructor}}.<span class="{{#if_eq ctx.type compare="method"}}method{{/if_eq}}{{#if_eq ctx.type compare="property"}}property{{/if_eq}}">{{ctx.name}}</span>{{#if_eq ctx.type compare="method"}}(<span class="params">{{#each tags}}{{#if_eq type compare="param"}}<span class="param">{{name}}</span>{{/if_eq}}{{/each}}</span>){{/if_eq}}
      {{#if_eq ctx.type compare="property"}}<em>property</em>{{/if_eq}}
      {{#each tags}}
        {{#if_eq type compare="return"}}
          {{#each types}}
            {{#if_eq . compare="this"}}<em>chainable</em>{{/if_eq}}
            {{#unless_eq . compare="this"}}<em>&rarr; {{.}}</em>{{/unless_eq}}
          {{/each}}
        {{/if_eq}}
      {{/each}}
      <a href="#{{ctx.name}}" class="anchor">&sect;</a>
    </h4>
    {{{description.full}}}
    {{#if_eq ctx.type compare="method"}}{{#if_gt tags.length compare="1"}}
      <h4>Parameters</h4>
      <ul>
        {{#each tags}}
          {{#if_eq type compare="param"}}
            <li><b>{{name}}</b> (<span class="types">{{#each types}}<span class="type">{{.}}</span>{{/each}}</span>){{#if description}}: {{description}}{{/if}}</li>
          {{/if_eq}}
        {{/each}}
      </ul>
    {{/if_gt}}{{/if_eq}}
  {{/unless}}
{{/unless}}
